

.menu-bar{
   background: rgb(0,100,0);
   text-align: center;
}
.menu-bar ul{
   display: inline-flex;
   list-style:none;
   color: #fff;
}

.menu-bar ul li{
   width:120px;
   margin:15px;
   padding:15px;
}
.footer h3{
   background-color: rgb(199, 137, 57);

}
.header{
   height:100px;
   text-align:center;
   padding:1px;
}

}


